.container.main-content {
  padding-top: 75px;
}
@media (min-width: 768px) {
  .container.main-content {
    padding-top: 125px;
  }
}
.ng-hide {
  display: none !important;
}
.navbar {
  background: #333333;
}