<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>wodgeaux.com</title>
    <meta charset="utf-8"/>
    <base href="/"/>
    <link rel="shortcut icon" href="/content/wodgeaux/images/barbell.ico" type="image/x-icon"/>
    <!-- bootstrap -->
    <link href="content/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="content/bootstrap/css/agency.css" rel="stylesheet"/>

    <!-- my styles -->
    <link href="content/wodgeaux/css/wodgeaux.css" rel="stylesheet"/>

    <!-- custom fonts -->
    <link href="content/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">

    <!-- kendo ui -->
    <link href="content/kendoui/styles/kendo.common.min.css" rel="stylesheet"/>
    <link href="content/kendoui/styles/kendo.black.min.css" rel="stylesheet"/>
    <link href="content/kendoui/styles/kendo.dataviz.black.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="nav.controller as vm">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="fa fa-clock-o"></i> WodGeaux.com</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="!vm.userIsLoggedIn">
                        <a href="javascript:;" ng-click="vm.login()">Login</a>
                    </li>
                    <li ng-show="vm.userIsLoggedIn" class="ng-hide">
                        <a href="javascript:;" ng-click="vm.logout()">Logout</a>
                    </li>
                    <li class="dropdown ng-hide" ng-show="vm.userIsLoggedIn">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">Link me</a></li>
                        </ul>
                    </li>
                    <li ng-show="vm.userIsLoggedIn" class="ng-hide">
                        <a href="/user">My Wods</a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container main-content" ng-view=""></div>

    <script src="scripts/lib/jquery.js"></script>
    <script src="scripts/lib/bootstrap.js"></script>
    <script src="scripts/lib/angular.js"></script>
    <script src="scripts/lib/angular-route.js"></script>
    <script src="scripts/lib/angular-cookies.js"></script>
    <script src="scripts/lib/angular-storage.js"></script>
    <script src="scripts/lib/angular-jwt.js"></script>
    <script src="scripts/lib/auth0-lock.js"></script>
<script src="scripts/lib/auth0-angular.js"></script>
    <script src="scripts/lib/kendo.all.min.js"></script>

    <script src="scripts/app/app.js"></script>
    <script src="scripts/app/home/home.module.js"></script>
    <script src="scripts/app/user/user.module.js"></script>
    <script src="scripts/app/nav/nav.module.js"></script>
    <script src="scripts/app/home/home.controller.js"></script>
    <script src="scripts/app/user/user.controller.js"></script>
    <script src="scripts/app/nav/nav.controller.js"></script>


</body>
</html>